<!DOCTYPE html>
<html dir="ltr" lang="ru">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Things For Cuties - A Premium Responsive Kids / Baby Related Shop Template</title>
<meta name="description" content="Things For Cuties - A Premium Responsive Kids / Baby Related Shop Template, available at Themeforest.">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Gochi+Hand">
<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
<link rel="stylesheet" type="text/css" href="/css/mobile.css">
<link rel="stylesheet" type="text/css" href="/css/cloud-zoom.css">
<link rel="stylesheet" type="text/css" href="/css/carousel.css">
<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="/js/jquery.cycle.all.js"></script>
<script type="text/javascript" src="/js/jquery.selectBox.js"></script>
<script type="text/JavaScript" src="/js/cloud-zoom.1.0.2.js"></script>
<script type="text/JavaScript" src="/js/cuties.js"></script>

<title><%= yield(:title) %></title>
<meta name="keywords" content="<%= yield(:description) %>">
<meta name="description" content="<%= yield(:keywords) %>">

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
<div id="container">
 <%= render '/layouts/header/header' %>
 <%= render '/layouts/header/menu/main' %>
  
  
  <div id="content">
    
  <%= yield %>

</div>

 <%= render '/layouts/footer/footer_main' %>

</body>
</html>